.homeMain{
    background-color: white;
    color: white;

    video{
        width: 100%;
        height: 92vh;
        object-fit: cover;
        @media only screen and (max-width: 768px) {
            height: 105vh;
        }

    }

    .bottom{
        background-color: rgb(0,0,0,0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15vh;
        @media only screen and (max-width: 768px) {
            bottom: -13vh;
        }

        .button{
            position: absolute;
            bottom: 20px;
            @media only screen and (max-width: 768px) {
                bottom:40px
            }
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
    
            display: inline-block;
            outline: 0;
            border: 0;
            background: #87CEEB;
            color: black;
            border-radius: 8px;
    
            font-size: 3rem;
            font-weight: 200;
            font-family: 'Atyp-bold', 'Atyp', 'Alegreya Sans';
            letter-spacing: 3px;
            line-height: 1;
            
            cursor: pointer;
            width:30rem;
            @media only screen and (max-width: 768px) {
                width: 20rem;
            }
            height: 3.5rem;
            transition: transform 200ms, background 200ms;
            :hover{
                transform: translateY(-2px);
            }
            
        }
    }
}